/* .App {
  text-align: center;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width:100%;
  /* background-color: black;
  color: whitesmoke; */
}
/* NAVBAR STYLING */

.nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}

.nav.black{
background: rgba(0,0,0, .8);
}
.nav .logo{
  float:left;
}

.nav .logo img{
  height: 80px;
}

.nav ul{
  float: right;
  margin:0;
  padding:0;
  display: flex;

}

.nav ul li{
  list-style: none;
}

.nav ul li a{
  line-height: 80px;
  color: red;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  font-size: 1.25em;
  font-weight: bolder;
}

.nav ul li a.active,
.nav ul li a:hover{
  color: red;
  background: white;
  border-radius: 45%;
}

/* HEADER SECTION */

.banner img{
  width: 100%;
  height: 100vh;
  background-size: cover;
}


section.sec1 img{
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.banner-title1{
  position: absolute;
  top: 83%;
  right: 34%;
  z-index: 2;
  color: whitesmoke;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
  font-size: 32px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left:5px;
  opacity: 0.8;
}

.banner-title2{
position: absolute;
top: 25%;
right: 65%;
z-index: 2;
color: white;
text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
font-size: 6em;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
