/* .App {
  text-align: center;
} */
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-image: url('https://cdn.hipwallpaper.com/i/84/53/9hFlXC.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width:100%;
}
/* NAVBAR STYLING */

.nav{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .5s;
}

.nav.black{
background: rgba(0,0,0, .8);
}
.nav .logo{
  float:left;
}

.nav .logo img{
  height: 80px;
}

.nav ul{
  float: right;
  margin:0;
  padding:0;
  display: flex;

}

.nav ul li{
  list-style: none;
}

.nav ul li a{
  line-height: 80px;
  color: white;
  padding: 5px 20px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  transition: .5s;
  font-size: 1.25em;
  font-weight: bolder;
}

.nav ul li a.active,
.nav ul li a:hover{
  color: white;
  background: goldenrod;
  border-radius: 45%;
}

/* HEADER SECTION */

.banner img{
  width: 100%;
  height: 100vh;
  background-size: cover;
}


section.sec1 img{
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.banner-title1{
  position: absolute;
  top: 83%;
  right: 34%;
  z-index: 2;
  color: whitesmoke;
  text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
  font-size: 32px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-left:5px;
  opacity: 0.8;
}

.banner-title2{
position: absolute;
top: 25%;
right: 65%;
z-index: 2;
color: white;
text-shadow: 0.075em 0.08em 0.1em rgba(0, 0, 0, 1);
font-size: 6em;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* SEARCH BAR */

.search {
  width: 100%;
  position: fixed;
  display: flex;
  left: 38.5%;
  margin: 0;
  padding: 0;
}

.searchTerm {
  width: 20%;
  border: 3px solid goldenrod;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: goldenrod;
  right:45%;
}

.searchTerm:focus{
  color: black;
  font-weight: bold;
  font-size: 24px;
}

.searchButton {
  width: 40px;
  height: 46px;
  border: 1px solid goldenrod;
  background: goldenrod;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


/* SEARCH PAGE STYLING */

@import url('https://fonts.googleapis.com/css?family=Limelight&display=swap');
h4{
  font-family: 'Limelight', cursive;
  font-size: 29px;
  font-weight:bolder;
  color:white;
}

/* MOVIE CARD */

.wrapper{
  position: fixed;
  top:75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container{
  width: 370px;
  height: 610px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-container{
  position: relative;
  width: 100%;
  height: 60%;
}

.img-container img{
  width: 95%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.title{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background: #d54020;
  border-radius:50%;
  color: #fff;
}

.title span{
  font-size: 15px;
  font-weight: 300;
}

.title p{
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  font-weight: 700px;
  font-size: 22px;
}